#subforumSingle{
background-color: white;
  text-align: right;
  display: block;
  margin: 1%;  
  padding:1%;
border-radius: 5px;
}
#threadSingle{
background-color: white;
  text-align: left;
width: 100%;  

}
#threadTitle{
background-color: pink;
border:solid 1px lightgrey;
padding-left: 0px;
}
#threadEntryDate{
background-color: lightblue;
border:solid 1px lightgrey;
padding-top: 0.875%;
padding-bottom: 0.875%;


}
#threadNumberReplies{
background-color: yellow;
border:solid 1px lightgrey;
display: table-cell;
padding-top: 0.875%;
padding-bottom: 0.875%;
}

#subforumSingle img{

float:left;
border-radius: 10px;
}
#subwrapper{

  background-color: lightgrey;
  padding-bottom: 1%;
  padding-left: 2%;

  
}
#userLink{
	color:black;
	font-size: 12px;
	font-weight: bold;
}
.userZone{

background-color: #DFE6F5;
}

#numMessageDiv{
	border-left:solid 1px grey;	
}
#numMessage {
	position:relative;
	float:right;
	
	color:black;
	font-size: 12px;
	font-weight: bold;
}
#threadSingle{

float:left;
border:solid 1px black;
}
.contentMessage{

background-color: white;
}
.userLink{
	margin-bottom: 0.25%;
	font-weight: bold;
}
#removeMark{
	float:right;
}
#buttonsEd{
	float: right;

	margin-top: 2%;
}