<div id="header">   
  <a href="index.html" id="logo">MyMusicalUniverse</a>
  <ul id="menu">
    <li><a href="http://localhost/myMusicalUniverse/"><span>Home</span></a></li>
    <li><a href="http://localhost/myMusicalUniverse/html/forum.html"><span>Forums</span></a></li>
    <li><a href="http://localhost/myMusicalUniverse/html/store.html"><span>Store</span></a></li>
    <li><a href="http://localhost/myMusicalUniverse/html/events.html"><span>Events</span></a></li>
  </ul>
  <ul id="menu2">
    <li ng-if="!userConnected"><a id="loginButton" href="" ng-click="toggleLoginModal()"><span>Login</span></a></li>
   
    <img id="userOnlineIcon" src="images/icons/user_online.png" width="15" height="15" ng-if="userConnected && controlPage==''"/><li ng-if="userConnected &&  controlPage==''"><a id="profileUserLink" href="" ng-click="myMusicalUniverseSessionCtrl.redirectToUserProfile(userObj.id)"><span>{{userName}}</span></a></li>
    <img id="userOnlineIcon" src="../images/icons/user_online.png" width="15" height="15" ng-if="userConnected && controlPage!=''"/><li ng-if="userConnected &&  controlPage!=''"><a id="profileUserLink" href="" ng-click=""><span>{{userName}}</span></a></li>
    <li ng-if="userConnected"><a id="logoutButton" href="" ng-click="myMusicalUniverseSessionCtrl.logOut()"><span>Logout</span></a></li>
    
    <li ng-if="!userConnected"><a href="" ng-click="toggleSignUpModal()"><span>Register</span></a></li>
    <div class="row" id="searchButton">
      <input type="text" class="btn btn-default">
        <button class="btn btn-default" type="button" onclick="searchWeb()"><span class="glyphicon glyphicon-search"></span></button>
    </div>
  </ul>
</div>

<div id="loginDiv">
    <!--Bootstrap modal for login-->
      <modal title="Login" id="loginModal" visible="showModal">
        <form role="form" class="login" name="userConnection" ng-submit="userConnection.$valid && myMusicalUniverseSessionCtrl.login()" novalidate>
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="usernameLog" ng-model="myMusicalUniverseSessionCtrl.user.username" placeholder="Enter Username" required/>
            <span id="errorUserMessage">The username text field can not be empty</span>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="passwordLog" ng-model="myMusicalUniverseSessionCtrl.user.password" placeholder="Enter Password" required/>
            <span id="errorPasswordMessage">The password text field can not be empty</span>
          </div>
          <button type="submit" ng-disabled="userConnection.$invalid" class="btn btn-primary">Login</button>
          <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
        </form>
      </modal>
    <!--End bootstrap modal login-->
</div>

<div id="signUpDiv">
    <!--Bootstrap modal for login-->
     <modal title="Sign Up" id="signUpModal" visible="showModal2">
        <form role="form" id="signUpForm" name="signUpUserForm" ng-submit="myMusicalUniverseSessionCtrl.signUp()" novalidate>
         
         
          <div class="form-group">
            <div class="col-sm-4">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="username" ng-model="myMusicalUniverseSessionCtrl.user.username" ng-blur="myMusicalUniverseSessionCtrl.checkUserName()" placeholder="Enter Username" required />

            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-4">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password" id="password" ng-model="myMusicalUniverseSessionCtrl.user.password" ng-minlength="6" placeholder="Enter Password" required />
            </div>
          </div>
          <div class="form-group">
             <div class="col-sm-4">
            <label for="password">Repeat Password</label>
            <input type="password" class="form-control" name="password2" id="repeatPass" ng-model="$parent.repeatPassword" ng-minlength="6" ng-change="myMusicalUniverseSessionCtrl.checkPassword()" placeholder="Repeat Password" required />
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-4">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" ng-model="myMusicalUniverseSessionCtrl.user.name" ng-pattern="/^[a-zA-Z]+$/" placeholder="Enter your Name" required/>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-4">
              <label for="surname1">Surname1</label>
              <input type="text" class="form-control" id="surname1" ng-model="myMusicalUniverseSessionCtrl.user.surname1" ng-pattern="/^[a-zA-Z]+$/" placeholder="Enter your first Surname" required/>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-4">
              <label for="surname2">Surname2</label>
              <input type="text" class="form-control" id="surname2" ng-model="myMusicalUniverseSessionCtrl.user.surname2" ng-pattern="/^[a-zA-Z]+$/" placeholder="Enter your last Surname" required/>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-4">
              <label for="email">Email</label>
              <input type="text" class="form-control" id="email" ng-model="myMusicalUniverseSessionCtrl.user.email" ng-pattern="/^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$/" placeholder="Enter your Email" required/>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-4">
            <label for="address">Address</label>
            <input type="text" class="form-control" id="address" ng-model="myMusicalUniverseSessionCtrl.user.address" placeholder="Enter your Address" />
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-4">
              <label for="phone">Phone</label>
              <input type="text" class="form-control" id="phone" ng-model="myMusicalUniverseSessionCtrl.user.phone" ng-maxlength="9" ng-minlength="9" placeholder="Enter your Phone" />
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
            <label for="phone">Image</label>
            <input type="file" file="image" class="form-control" id="imageUser" accept="image/*" ng-model="myMusicalUniverseSessionCtrl.user.image" ng-maxlength="9" />
            </div>
          </div>
         
          <div class="form-group">
           
            <button type="submit" ng-disabled="signUpUserForm.$invalid || !repeatPassword" class="btn btn-primary">Sign Up</button>
            
           
            <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
            
          </div>
         
          

        </form>
      </modal>
    <!--End bootstrap modal login-->
</div>

<div id="modalMessage">
  <div class="modal js-loading-bar">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-body">
         {{modalMessage}}
         <div class="progress progress-popup">
          <div class="progress-bar"></div>
         </div>
       </div>
     </div>
   </div>
  </div>
</div>