<!DOCTYPE html>
<html ng-app="myMusicalUniverseManagement" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>MMU-Forum</title>

  <!--Css-->
  

    <link rel="stylesheet" type="text/css" href="../css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../js/frameWorks/jQuery/jquery-ui-1.11.4/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="../js/frameWorks/jQuery/jquery-ui-1.11.4/jquery-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="../js/frameWorks/jQuery/jquery-ui-1.11.4/jquery-ui.theme.css" />
    <link rel="stylesheet" type="text/css" href="../css/header.css" />
    <link rel="stylesheet" type="text/css" href="../css/index.css" />
    <link rel="stylesheet" type="text/css" href="../css/body.css" />

    <!-- Angular-->
    <script src="../js/frameWorks/angular/angular.min.js" type="text/javascript" xml:space="preserve"></script>
    <script src="../js/frameWorks/angular/i18n/angular-locale_es-es.js" type="text/javascript" xml:space="preserve"></script>
    <script src="../js/frameWorks/angular/ng-currency.js" type="text/javascript" xml:space="preserve"></script>
    <!--Bootstrap JS and UI-->
    
    <script src="../js/frameWorks/bootstrap-bower-master/ui-bootstrap.js" type="text/javascript" xml:space="preserve"></script>
    <script src="../js/frameWorks/bootstrap-bower-master/ui-bootstrap.min.js" type="text/javascript" xml:space="preserve"></script>
    <script src="../js/frameWorks/bootstrap-bower-master/ui-bootstrap-tpls.min.js" type="text/javascript" xml:space="preserve"></script>
    <script src="../js/frameWorks/bootstrap-bower-master/ui-bootstrap-tpls.min.js" type="text/javascript" xml:space="preserve"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <!-- jQuery-->
    <!--<script src="js/frameWorks/jQuery/jQuery.js" type="text/javascript" xml:space="preserve"></script>-->


    <!-- Datepicker-->
    <!--<script src="js/frameWorks/jQuery/jquery.min.js" type = "text/javascript"></script>-->
    <script src="../js/frameWorks/jQuery/jquery-ui-1.11.4/jquery-ui.js" type = "text/javascript"></script>
    <script src="../js/frameWorks/jQuery/jquery-ui-1.11.4/jquery-ui.min.js" type = "text/javascript"></script>
    
    <!-- jQuery Cookies management-->
    <script src="../js/frameWorks/jQuery/jquery-cookie/jquery.cookie.js" type="text/javascript" xml:space="preserve"></script>

    <!-- Own code-->
    
    <script src="../js/model/articleObj.js" type="text/javascript" xml:space="preserve"></script>
    <script src="../js/model/userObj.js" type="text/javascript" xml:space="preserve"></script>
    <script src="../js/model/subforumObj.js" type="text/javascript" xml:space="preserve"></script>
    <script src="../js/model/threadObj.js" type="text/javascript" xml:space="preserve"></script>
    <script src="../js/model/threadReplyObj.js" type="text/javascript" xml:space="preserve"></script>
    
    <script src="../js/control/generalFunctions.js" type="text/javascript" xml:space="preserve"></script>
    <script src="../js/control/forum.js" type="text/javascript" xml:space="preserve"></script>    
    <!--<script src="js/control/index.js" type="text/javascript" xml:space="preserve"></script>-->

</head>
<body ng-controller="myMusicalUniverseSessionController as myMusicalUniverseSessionCtrl" ng-init="myMusicalUniverseSessionCtrl.sessionController()">
  <div id="headerDiv">
    <header-form id="headerForm"></header-form>
  </div>

  <div class="mainSection" ng-controller="myMusicalUniverseForumController as myMusicalUniverseForumCtrl" ng-init="myMusicalUniverseForumCtrl.getSubforums()">
    <div class="container">
      <div class="row">
        <div class="col-sm-10">
          <div id="loginDiv" ng-show="userAction==1">
            <login-form id="LoginForm"></login-form>
          </div>
            <!--subforum-->
          <div id="subforumContent">
          <form name="newSubforumForm" ng-submit="newSubforumForm.$valid && myMusicalUniverseForumCtrl" novalidate>
<div class="row" id="subwrapper">
 <h3>Music</h3>     
 <!--ng-click="myMusicalUniverseForumCtrl.redirectToSubforumById({{subforumoj.getId()}})"-->
 <!--ng-if="subforumoj.getId()==4"-->
    <div ng-repeat="subforumoj in myMusicalUniverseForumCtrl.subforumObjArray" ng-if="subforumoj.getType()==0" class="col-sm-3" id="subforumSingle">
    <a href="" ng-click="myMusicalUniverseForumCtrl.redirectToSubforumById(subforumoj)"><img src="../images/userImages/{{subforumoj.getImage()}}" height="40" width="40" ><a href="" ng-click="myMusicalUniverseForumCtrl.redirectToSubforumById(subforumoj)">{{subforumoj.getName()}}</a><br/>
  {{subforumoj.getDescription()}}
</div>
</div>
<div class="row" id="subwrapper">
<h3>Offtopic</h3>
<div ng-repeat="subforumoj in myMusicalUniverseForumCtrl.subforumObjArray" ng-if="subforumoj.getType()==1" class="col-sm-3" id="subforumSingle">
    <a href="" ng-click="myMusicalUniverseForumCtrl.redirectToSubforumById(subforumoj)"><img src="../images/userImages/{{subforumoj.getImage()}}" height="40" width="40"><a href="" ng-click="myMusicalUniverseForumCtrl.redirectToSubforumById(subforumoj)">{{subforumoj.getName()}}</a><br/>
  {{subforumoj.getDescription()}}

  
</div>
    </div>
</form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>   
</body>
</html>