<div id="header">   
  <a href="index.php" id="logo">MyMusicalUniverse</a>
  <ul id="menu">
    <li><a href="index.php"><span>Home</span></a></li>
    <li><a href="#"><span>Forums</span></a></li>
    <li><a href="#"><span>Store</span></a></li>
    <li><a href="#"><span>Events</span></a></li>
  </ul>
  <ul id="menu2">
    <li><a href="#" ng-click="userAction=1"><span>Login</span></a></li>
    <li><a href="#" ng-click="userAction=2"><span>Register</span></a></li>
    <div class="row" id="searchButton">
      <input type="text" class="btn btn-default">
        <button class="btn btn-default" type="button" onclick="searchWeb()"><span class="glyphicon glyphicon-search"></span></button>
    </div>
  </ul>
</div>