<div class="loginDiv" ng-show="userAction==1">
	<h3>Login</h3>
	<form class="login" name="userConnection" ng-submit="userConnection.$valid && myMusicalUniverseSessionCtrl.login()" novalidate>
	<div id="login_div">
		<table>
			<tr><td>Nickname: </td><td><input type="text" id="user" name="user" ng-model="loginCntrl.nickname" ng-pattern="" required/></td></tr>
			<tr><td>Password: </td><td><input type="password" id="user" name="password" ng-model="loginCntrl.password" required/></td></tr>
		</table>

		<input type="submit" class="btn btn-primary pull-left" value="Login"/>
		<input type="button" class="btn btn-primary pull-left" value="Reset" ng-click="location.reload()"/><br/>
		
	</div>
	</form>
</div>